.title-area {
    text-align: center;
}

.button-area {
    text-align: right;
}

.park-img {
    margin-top: -2px;
}

.park-info {
    outline: solid 3px black;
    height: 100%;
}

.caption {
    text-align: center;
}