.title-area {
    text-align: center;
}

.button-area {
    text-align: right;
}

.park-img {
    outline: solid 1px blue;
    padding: 0;
    margin: 0;
}

.park-info {
    outline: solid 3px black;
}