body{
   background-color: darkcyan;
}
main{
   padding: 25px;
   text-align: center;
}
ul{
   list-style-type: none;
}
header{
   text-align: center;
}
.weatherContainer{
   border-style: inset;
   border-color: grey;
}